fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.11.0
pydantic-settings>=2.11.0
httpx~=0.27.0
python-dotenv~=1.1.1
amadeus~=12.0.0
certifi~=2025.10.5
torch~=2.9.0
transformers~=4.57.1
word2number~=1.1
mpmath~=1.3.0

passlib~=1.7.4
sympy~=1.14.0
openai>=1.60.0
pymongo~=4.15.3